@import '../../../variables.scss';

.home-item-container {

  .navbar-item-icon {

    svg {
      height: 50px;
      fill: $white;
      transition: all .2s;
    }
  }

  &:hover {

    .navbar-item-icon {
      filter: drop-shadow(0 0 10px rgba($white, .5));

      svg {
        transform: scale(.9);
      }
    }
  }
}